## 替换模板
## package com.gjstudy.velocitystudy.web.controller;
package ${package}.controller;

import ${package}.web.domain.${className};
import ${package}.web.service.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import java.util.List;

@RestController
@RequestMapping("/${classname}")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;


    @RequestMapping("/list")
    public List<${className}> list() {
        return ${classname}.list();
    }

    @RequestMapping("/save")
    public void save(@RequestBody ${className} ${classname}) {
            ${classname}Service.save();
    }

    @RequestMapping("/update")
    public void update(@RequestBody ${className} ${classname}) {
            ${classname}Service.update(${classname});
    }

    @RequestMapping("/del")
    public void del(@RequestBody int[] ids) {
            ${classname}Service.del(ids);
    }


}
