##package com.gjstudy.velocitystudy.web.service;
package ${package}.web.service;


import ${package}.web.domain.User;
import ${package}.web.mapper.UserMapper;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;

@Service
public class ${className}Service} {


    @Autowired
    private ${className}Mapper ${classname}Mapper;

    public List<${className}> list() {
        return ${classname}Mapper.list();
    }

    public void save() {
        ${classname}Mapper.save()};
    }

    public void update(${className} ${classname}) {
        ${classname}Mapper.update(${classname})};
    }

    public void del(int[] ids) {
        ${classname}Mapper.del(ids)};
    }
}
