## 替换模板
## package com.gjstudy.velocitystudy.web.controller;
package ${package}.controller;

import ${package}.web.domain.${TableName};
import ${package}.web.service.${TableName}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import java.util.List;

## 通用的Controller
/**
* 需要的参数
* 1. TableName       格式: String    表示:表名
* 2. package         格式: String    表示:包名
*/


@RestController
@RequestMapping("/${DataHandle.bigToLow(${TableName})}")
public class ${TableName}Controller {

    @Autowired
    private ${TableName}Service ${DataHandle.toLow(${TableName})}Service;


    @RequestMapping("/list")
    public List<${TableName}> list() {
        return ${DataHandle.toLow(${TableName})}.list();
    }

    @RequestMapping("/save")
    public void save(@RequestBody ${TableName} ${DataHandle.toLow(${TableName})}) {
            ${DataHandle.toLow(${TableName})}Service.save();
    }

    @RequestMapping("/update")
    public void update(@RequestBody ${TableName} ${DataHandle.toLow(${TableName})}) {
            ${DataHandle.toLow(${TableName})}Service.update(${DataHandle.toLow(${TableName})});
    }

    @RequestMapping("/del")
    public void del(@RequestBody int[] ids) {
            ${DataHandle.toLow(${TableName})}Service.del(ids);
    }
}
