package ${package}.web.service.Impl;


import ${package}.web.domain.${TableName}Domain;
import ${package}.web.mapper.${TableName}Mapper;
import ${package}.web.service.${TableName}Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;

/**
 * @author ：JiaGuo
 * @date ：Created in 2021/11/13 14:53
 * @description：实现 TemplateDiy
 * @modified By：
 * @version: 1.0
 */
@Service
public class ${TableName}ServiceImpl extends ServiceImpl<${TableName}Mapper, ${TableName}Domain> implements ${TableName}Service {


}
