##package com.gjstudy.velocitystudy.web.service;
package ${package}.web.service.impl;


import ${package}.web.domain.*;
import ${package}.web.mapper.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;

## service-mybatis
/**
* 需要的参数
* 1. TableName       格式: String    表示:表名
* 2. package         格式: String    表示:包名
*/



@Service
public class ${TableName}ServiceImpl implements ${TableName}Service {


    @Autowired
    private ${TableName}Mapper ${DataHandle.bigToLow(${TableName})}Mapper;

    public List<${TableName}> list() {
        return ${DataHandle.bigToLow(${TableName})}Mapper.list();
    }

    public void save() {
        ${DataHandle.bigToLow(${TableName})}Mapper.save()};
    }

    public void update(${TableName} ${DataHandle.bigToLow(${TableName})}) {
        ${DataHandle.bigToLow(${TableName})}Mapper.update(${DataHandle.bigToLow(${TableName})})};
    }

    public void del(int[] ids) {
        ${DataHandle.bigToLow(${TableName})}Mapper.del(ids)};
    }
}
