package ${package}.web.domain;

import com.baomidou.mybatisplus.annotation.TableId;

/**
 * @author ：JiaGuo
 * @date ：Created in 2021/12/2 17:20
 * @description：这是${TableName}的实体类
 * @modified By：
 * @version: 1.0
 */

## domain-mabtis
/**
* 需要的参数
* 1. tableAttribute  格式: map类型   key:列名(变成驼峰式命名,首字母大写)   value: List类型存放的是列的属性, 第一项是数据类型(记得变成java数据类型) 第二项是否主键
* 2. TableName       格式: String    表示:表名
* 3. package     格式: String    表示:包名
*/

@Data
@TableName("\"${TableName}\"")
public class ${TableName}Domain {

 #foreach($item in ${tableAttribute.entrySet()})
     #if(${item.value.get(2).getName()} == "isPriKey")
     @TableId(type = IdType.AUTO)
     #end
     private ${item.value.get(0).getName()}  ${DataHandle.toLow(${item.key})};
 #end


}
