##package com.gjstudy.velocitystudy.web.mapper;
package ${package}.web.mapper;
import ${package}.web.domain.*;
import org.springframework.stereotype.Repository;

import java.util.List;

## mapper-mabatis
/**
* 需要的参数
* 1. TableName       格式: String    表示:表名
* 2. package         格式: String    表示:包名
*/

@Repository
public interface ${TableName}Mapper {
    List<${TableName}> list();

    void save();

    void update(${TableName} ${DataHandle.toLow(${TableName})});

    void del(int[] ids);
}
