<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
## /**
##* 需要的参数
##* 1. tableAttribute  格式: map类型   key:列名(变成驼峰式命名,首字母大写)   value: List类型存放的是列的属性, 第一项是数据类型(记得变成java数据类型) 第二项是否主键
##* 2. TableName       格式: String    表示:表名
##* 3. package     格式: String    表示:包名
##* 4. underLineTableAttribute      同上但是列名是原始的下划线式命名        [0]:数据类型 [1]:长度  [2]:是否主键
##* 5. underLineTableName      下划线风格表名
##* 6. underLinePriKey   下划线风格主键
##* 7. humpPriKey       小驼峰风格主键
##*/



<mapper namespace="${package}.web.mapper.${TableName}Mapper}">
    <select id="findAll" resultType="${package}.web.domain.${TableName}Domain">
        select *
        from ${underLineTableName}
    </select>

    <select id="findId" resultType="${package}.web.domain.${TableName}Domain">
        select *
        from ${underLineTableName}
        where   ${underLinePriKey} = #{${humpPriKey}}
    </select>

    <delete id="delDataId">
        DELETE ${underLineTableName} WHEN ${underLinePriKey}=#{${humpPriKey}}
    </delete>




    <insert id="insertData">
        INSERT INTO ${underLineTableName}(
        #foreach($item in ${underLineTableAttribute.entrySet()})
            #if(${item.value.get(2)} == "notPriKey")
            ${item.key}
            #if($foreach.hasNext),#end
            #end
        #end
)values(
            #foreach($item in ${tableAttribute.entrySet()})
                #if(${item.value.get(2)} == "notPriKey")
                    #{${item.key}}
                    #if($foreach.hasNext),#end
                #end
            #end
 )

    </insert>


    <update id="updateData">
        UPDATE ${underLineTableName}
        SET (
            #foreach($item in ${underLineTableAttribute.entrySet()})

                ${item.value.get(2)}
                ${item.value.get(0)}
                #if(${item.value.get(2)} == "notPriKey")
                    ${item.key} = #{DataHandle.toSmallHump(${item.key})}
                    #if($foreach.hasNext),#end
                #end
            #end)
        where   ${underLinePriKey} = #{${humpPriKey}}
    </update>

</mapper>

