<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
## /**
##* 需要的参数
##* 1. package     格式: String    表示:包名
##*/



<mapper namespace="${package}.web.mapper.${TableName}Mapper}">


</mapper>

