##package com.gjstudy.velocitystudy.web.service;
package ${package}.web.service.impl;


import ${package}.web.domain.User;
import ${package}.web.mapper.UserMapper;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;

## service-mybatis
/**
* 需要的参数
* 1. tableName       格式: String    表示:表名
* 2. package         格式: String    表示:包名
*/



@Service
public class ${tableName}ServiceImpl} implements ${tableName}Service {


    @Autowired
    private ${tableName}Mapper ${genUtils.bigToSmall(${tableName})}Mapper;

    public List<${tableName}> list() {
        return ${velocityUtils.toLow(${tableName})}Mapper.list();
    }

    public void save() {
        ${velocityUtils.toLow(${tableName})}Mapper.save()};
    }

    public void update(${tableName} ${velocityUtils.toLow(${tableName})}) {
        ${velocityUtils.toLow(${tableName})}Mapper.update(${velocityUtils.toLow(${tableName})})};
    }

    public void del(int[] ids) {
        ${velocityUtils.toLow(${tableName})}Mapper.del(ids)};
    }
}
