<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.guojia.web.mapper.UsersMapper}">
    <select id="findAll" resultType="com.guojia.web.domain.UsersDomain">
        select *
        from TemplateDiy
    </select>

    <select id="findId" resultType="com.guojia.web.domain.UsersDomain">
        select *
        from TemplateDiy
        where   template_id = #{templateId}
    </select>

    <delete id="delDataId">
        DELETE TemplateDiy WHEN template_id=#{templateId}
    </delete>




    <insert id="insertData">
        INSERT INTO TemplateDiy(
)values(
 )

    </insert>


    <update id="updateData">
        UPDATE TemplateDiy
        SET (
                ${item.value.get(2)}
                ${item.value.get(0)}
                ${item.value.get(2)}
                ${item.value.get(0)}
                ${item.value.get(2)}
                ${item.value.get(0)}
)
        where   template_id = #{templateId}
    </update>

</mapper>

