<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autogen.code.web.mapper.TemplateManageMapper">



    <select id="manageDiyUnionQueryById" resultType="com.autogen.code.web.domain.vo.ManageDiyUnionQueryVO">
        select
            m.template_name as manage_name,m.template_author as manange_author, d.template_name as diy_name,d.template_content as diy_content,d.extension_name as diy_extension,d.prefix_default as diy_prefix
        from template_manage as m , template_diy as d
        where m.template_id =#{id} and d.belong =#{id}
    </select>



    <select id="manageDiyUnionQueryByName" resultType="com.autogen.code.web.domain.vo.ManageDiyUnionQueryVO">
        select
            m.template_name as manage_name,m.template_author as manage_author, d.template_name as diy_name,d.template_content as diy_content,d.extension_name as diy_extension,d.prefix_default as diy_prefix
        from template_manage as m , template_diy as d
        where  m.template_id =(SELECT template_id
                               FROM template_manage
                               WHERE template_name = #{name}
        )and d.belong =(SELECT template_id
                        FROM template_manage
                        WHERE template_name = #{name}
        )
    </select>






</mapper>

